<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!--自动扫描-->
    <context:component-scan base-package="com.ex"></context:component-scan>

    <!--aop注解方式-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--配置Bean-->
    <bean id="rice" class="com.ex.RiceImpl"></bean>
    <bean id="noodles" class="com.ex.NoodlesImpl"></bean>
    <bean id="eatProcess" class="com.ex.EatingProcess"></bean>

    <!--替换注解-->
    <aop:config>
        <aop:aspect ref="eatingProcess">
            <aop:pointcut id="pointCut" expression="execution(* com.ex.Food.process(..))"></aop:pointcut>
            <aop:before method="takeBowls" pointcut-ref="pointCut"></aop:before>
            <aop:after-returning method="putChopsticks" pointcut-ref="pointCut"></aop:after-returning>
            <aop:after-throwing method="chopsticksDown" pointcut-ref="pointCut"></aop:after-throwing>
        </aop:aspect>
    </aop:config>
</beans>

